//- TDK
mixin TDK(url,title,desc)
  - var ogType = url === '/' || url === '/index.html' ? 'website':'article'

  title #{title}
  meta(name="description", contents=`${desc}`)
  meta(property="og:title", content=`${title}`)
  meta(property="og:type", content=`${ogType}`)
  meta(property="og:url", content=`${url}`)
  meta(property="og:description", content=`${desc}`)
