//- TDK
mixin TDK(url,title,desc)
  - var ogType = url === '/' || url === '/index.html' ? 'website':'article'

  title #{title}
  meta(name="description", contents=`${desc}`)
  meta(property="og:title", content=`${title}`)
  meta(property="og:site_name", content=`${SITENAME}`)
  meta(property="og:type", content=`${ogType}`)
  meta(property="og:url", content=`${ROOT + url}`)
  meta(property="og:image", content=`${ROOT + SITEIMAGE}`)
  meta(property="fb:app_id", content='id')
  meta(property="twitter:card", content='summary')
  meta(property="twitter:title", content=`${title}`)
  meta(property="twitter:description", content=`${desc}`)
  meta(property="twitter:image:src", content=`${ROOT + SITEIMAGE}`)
